DATABASE_URL="postgresql://user:password@localhost:5432/stockflow?schema=public"
DIRECT_URL="postgresql://user:password@localhost:5432/stockflow?schema=public"
JWT_SECRET="generate_a_secure_jwt_secret"
JWT_EXPIRATION="1d"
SUPER_ADMIN_EMAIL="admin@stockflow.com"
SUPER_ADMIN_PASSWORD="admin_password"
API_KEY="generate_a_secure_api_key"
